<main [ngClass]="colorScheme">
    <app-wallet-modal *ngIf="!solanaService.walletConnected"></app-wallet-modal>
    <div>
        <app-navbar></app-navbar>
        <div class="flex flex-col  items-center bg-gray-200 dark:bg-slate-900 w-screen h-screen">
            <div class="h-24 w-screen"></div>
            <div *ngIf="solanaService.walletConnected" class="flex flex-col justify-center w-full max-w-7xl">
                <app-account-header class="p-4"></app-account-header>
                <!-- <button (click)="solanaService.initialMintHelper()">Mint</button> -->
                <div class="flex flex-row w-full max-w-7xl justify-between gap-4 p-4">
                    <div class="flex flex-col w-full bg-white rounded-xl">
                        <button (click)="solanaService.initialMintHelper()" type="button" class="iw-96 inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            <svg class="-ml-1 mr-3 h-8 w-8 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            Mint a new token
                        </button>
                        <app-loader *ngIf="solanaService.mintingStatus"></app-loader>
                        <app-toast [message]="solanaService.toastMessage" *ngIf="solanaService.toast"></app-toast>
                    </div>
                    <!-- <div class="flex flex-col w-full bg-white rounded-xl">
                        <button type="button" class="iw-96 inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            <svg class="-ml-1 mr-3 h-8 w-8 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            Mint a new token
                        </button>
                    </div>
                    <div class="flex flex-col w-full bg-white rounded-xl">
                        <button type="button" class="iw-96 inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            <svg class="-ml-1 mr-3 h-8 w-8 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            Mint a new token
                        </button>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</main>