<nav class="bg-gray-800 absolute w-screen">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-24">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <img class="h-8 w-auto" src="assets/logos/sol-white.png">
                </div>
                <div class="text-white font-semibold text-4xl p-4">
                    Faucet
                </div>

            </div>
            <button *ngIf="solanaService.walletConnected" (click)="solanaService.disconnectWallet()" type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Disconnect
            </button>
        </div>
    </div>
</nav>