<nav class="bg-gray-800 absolute w-screen">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-24">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <img class="h-8 w-auto" src="assets/logos/sol-white.png">
                </div>
                <div class="text-white font-semibold text-4xl p-4">
                    Faucet
                </div>
            </div>
        </div>
    </div>
</nav>