<nav class="bg-gray-800 absolute w-screen">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-24">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <img class="h-8 w-auto" src="assets/logos/sol-white.png">
                </div>
                <div class="text-white font-semibold text-4xl p-4">
                    Faucet
                </div>
            </div>
            <div class="flex flex-row items-center gap-4">
                <button *ngIf="!darkMode" (click)="toggleMode()" class="text-white hover:bg-slate-700 rounded-full p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                </button>
                <button *ngIf="darkMode" (click)="toggleMode()" class="text-white hover:bg-slate-700 rounded-full p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                    </svg>
                </button>
                <button *ngIf="solanaService.walletConnected" (click)="solanaService.disconnectWallet()" type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Disconnect
                </button>
            </div>
        </div>
    </div>
</nav>