<div class="flex flex-row justify-between items-center bg-white dark:bg-slate-800 w-full h-24 p-8 rounded-lg text-2xl font-medium">
    <span>{{publicKey}}</span>
    <div class="flex gap-4 items-center justify-center">
        <span>{{balance}} SOL</span>
        <button (click)="getSolana()" type="button" class="h-12 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span class="p-2">Get SOL</span>
        </button>
    </div>
</div>
<app-loader *ngIf="loading"></app-loader>